{% extends "layout.html" %}

{% block title %}Smarttrack{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>Smarttrack {{ username }}</h1>

    <p class="lead">By xidian wisenor teap, mobisys laboratory.</p>
    <!-- <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Map</h2>
        <!--
        <img src="../static/content/map.png" width= "100%">
        -->
    </div>

    <div class="col-md-6">
        <h2>Video</h2>
        <!-- <img src="{{ url_for('video_feed') }}" width="100%"> -->
    </div>
</div>

{% endblock %}
